
/* color invalidado de mi busqueda */


input:valid,
textarea:valid {
    color: rgb(2, 2, 0);

}

input:invalid,
textarea:invalid {
    color: 1px solid rgb(5, 5, 5);

}



.divgral {

        min-height: 100vmin;
        background-image:url("../../images/FondoH.webp");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        position: fixed;
        display: block;

        left: -5px;
        top:-5px;
        bottom:-5px;
        right: -5px;
        z-index: 1;


      }


  .fieldset{
background-color: #f5dbe8;
    position:fixed;
    margin-left: 80%;
    margin-top: 20%;
    border: 3px solid rgb(241, 21, 175);

}

.legendField{
    color:black;
    font: bold 15px Verdana, Arial, Helvetica;

}
.radio{
    margin-left: 10;
    width: 70px;
    height: 70px;
    text-decoration: none;
    margin-left: -25px;
}
.radioButon{
    margin-left: 20px;
    width: 20px;
height: 20px;

}

  .form{

        background: transparent;
        border-radius: 20px;
box-decoration-break: clone;
    }

  .titulo{
    font: bold 40px Verdana, Arial, Helvetica;
    height: 40%;
    width: 80%;
    color:black;
    text-transform: uppercase;
    margin-left: 50%;
margin-top: -5%;
    text-align: center;
    line-height: 40px;


    text-align: center;

    letter-spacing: 1px;
    word-spacing: 3px;

  }
  .titu{
    color: black;
    text-shadow:0 1px 0 #ccc,
    0 3px 0 #bbb,
    0 3px 5px rgba(0, 0, 0, .2),
    0 5px 10px rgba(0, 0, 0, .25),
    0 10px 10px rgba(0, 0, 0, .2),
    0 20px 20px rgba(0, 0, 0, .15);
    margin-left: 45rem; 
    font-size: 30px;
    margin-top: 25px;
  }

  .label{

    margin-block-start: 1pt;
      color:black;
	width:30%;
    font: bold 20px Arial, Helvetica;
	font-weight:bold;
	display:inline-block;
    text-align: right;
}

.coment{
    margin-left: 0;
    margin-top:0;
    font: italic 15px Arial, Helvetica;
    color: black;
}

  .input{
      align-items: center;
    width:30%;
    height: 20px;
	padding:1px 20px;
    border: 3px solid rgb(241, 21, 175);
    background-color: #f5dbe8;
	margin:15px;
	display:inline-block;
    font: 16px Arial, Helvetica;
    color:#f5dbe8;;
  }
  

.select{
    height: 25px;
    font:  16px Arial, Helvetica;
    border-radius: 8px;
    margin-left: 10px;
    text-decoration: none;
    background-color: #f5dbe8;
    color:1px solid rgb(241, 21, 175);
    border: 3px solid rgb(241, 21, 175);
}

.newTemp{
    width:30%;
    font: bold 20px Arial, Helvetica;
	font-weight:bold;

    margin-left:80px;
}

.option{
    background-color: #f5dbe8;
    color: black;

}

.temps {
    display: flex;
    flex-direction: row;
  justify-content: center;
  align-items: center;

}
.te{
    margin-right: 8px;
    font:italic;
}
.letraTemp{
    font:italic;
    color: black;
}




.tDelete{
    float:left;
    color: rgb(241, 21, 175);
    border-radius: 8px;
    border: 3px solid rgb(241, 21, 175);
}

.containerSubmit{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-left: 7%;
}
.submit{
	width:160px;
	padding:6px 8px;
	margin-top:70px;
    border: 3px solid rgb(241, 21, 175);
background-color: transparent;
border: 3px solid rgb(241, 21, 175);
	font: bold 20px Arial, Helvetica;
	color: black;
    background-color:  #f5dbe8;
        background-image: linear-gradient #f5dbe8, rgb(241, 21, 175);



}

.submit:hover{
	cursor:pointer;
    background-color: #fd0dad;
    background-image: linear-gradient(#751164, #f048aa);
}
.submit:valid, textarea:valid {
    color:black;
}


.error{

    font: bold 15px Arial, Helvetica;
    color:rgb(10, 1, 1);

    position: relative;
}
