/*css del hom  */
.body {


    min-height: 100vmin;
     background-image:url("../../images/Fhome.webp");

    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    left: -5px;
    top:-5px;
    bottom:-5px;
    right: -5px;
    z-index: 1;
    width: 100%;


  }






/* el naviguetion */
.nav{
  width: 90%;
  margin: 0 auto;
  padding: 5px;
  display: flex;
  flex-direction:row;



  background-color: #fd0dad;
  background-color: transparent;

 justify-content: space-between;
 align-items: flex-start;
 align-content: center;
}

.select{

text-decoration: none;
margin: 10px;
height: 30px;
color:1 solid  rgb(252, 249, 249);
font: bolder 12px Arial, Helvetica;
font-size: 12px;

background-color: #f5dbe8;
    background-image: linear-gradient( #f5dbe8);
    border: 2px solid rgb(241, 21, 175);


}
/* .select:hover {
    background-color: #bb413b;
    background-image: linear-gradient(#831608, #bb413b);

} */

.link{

    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
 margin: -3px;
   
    color: black;
    text-align: center ;
    font: bolder 12px Arial, Helvetica;
     padding: 10px; 
    width: 120px;
    
    border-radius: 28px;
    margin: 5px, Helvetica;
    font-size: 12px;
    
}

.navIzq{
    display: flex;
    flex-direction:row;
    justify-content: left;
    justify-content: space-between;
}
.navDer{

    display: flex;
    flex-direction:row;
    justify-content: right;
    justify-content: space-between;
}

.options{
    background-color: #f5dbe8;
    color: black;
    font: bold 15px Arial, Helvetica;
}

.cards{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
    justify-content: space-around;

    width: 80%;
    margin: 0 auto;
    padding: 5px;
}


.nroPag{
    font: bold 12px Arial, Helvetica;
    color: black;
    background-color: #f5dbe8;
    border: 3px solid rgb(241, 21, 175);
    border-radius: 50%;
    padding: 10px;
   margin: 10px;
    text-align:center;
    margin-left: 46%;
  



}
