/*css del hom  */
.body {
    
    background-image:url("../../images/Fhome.webp");
    position: absolute;
    height: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
width: 100%;
height: 100%;
   
   background-repeat:no-repeat;
  background-size:cover;
    
    
     min-height: 165vh;   

  }
.containers{
    padding-top: 30px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    display: grid;
    justify-items: center;
    grid-row-gap: 45px;
  justify-content: center;
  align-content: center;
  margin-top: 20px;
    
}
.select{
    color: black;
    background-color: #f5dbe8;
    padding: 8px;
    margin: 6px;
    width: 255px;
    height: 50px;
    font: bold 14px Arial, Helvetica;
    font-size: 18px;
    text-align: center;
    border-radius: 7px;
    border: 2px solid rgb(241, 21, 175);

}
.select:hover {
	background-color: #fd0dad;
    background-image: linear-gradient(#751164, #f048aa);
   }


 .link{
    color: black;
    background-color: #f5dbe8;
    padding: 8px;
    margin: 6px;
    width: 220px;
    height: 30px;
    font: bold 14px Arial, Helvetica;
    font-size: 18px;
    text-align: center;
    border-radius: 7px;
    border: 2px solid rgb(241, 21, 175);
    text-decoration: none;
    margin-left: 50%;
 }
 .link:hover {
	background-color: #fd0dad;
    background-image: linear-gradient(#751164, #f048aa);
   }
 
.options{
    background-color: #f5dbe8;
    color: black;
    font: bold 15px Arial, Helvetica;
}

.cards{
    display: grid;
    grid-template-columns: 28% 28% 28% 28%;
    grid-template-rows: 50% 50%;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    padding: 8px; 
    
}

 .contan{
display: grid;
grid-template-columns: auto auto ;
justify-content: center;
margin-right: 15rem;

   
} 
.buscar{
    display: grid;
    justify-content: center;
}