

.card{
   scroll-padding-block: 2px;
    height:350px;
    width: 310px;
    margin: 3%;
  
    background-color: transparent;
    font: bold 14px Arial, Helvetica;
    font-size: 15px;
    border: 2px solid rgb(241, 21, 175);
    background-color: #f5dbe8;
    -webkit-box-shadow: 16px 27px 38px -3px rgba(13,1,1,1);
-moz-box-shadow: 16px 27px 38px -3px rgba(13,1,1,1);
box-shadow: 16px 27px 38px -3px rgba(13,1,1,1);



}

.img{
    height: 50%;
    width:70%;
    display: block;
    margin:auto;
border-radius: 3%;

    object-fit: cover;
box-shadow: black;
}

.name{

    font: bold 20px Arial, Helvetica;
    text-decoration:   #f5dbe8;
    color: black;
    outline: none;
    text-align:center;

}



.text{
    color: black;
    margin: 1%;
    font:  bold 15px Arial, Helvetica;
    text-align:center;
}

.click{
    text-align:center;
    font: italic 15px  Helvetica,Arial;
}

.error{
    font:  bold 40px Arial, Helvetica;
    color: black;
   

    text-align: center;
}
