.formul {
    padding-top: 40px; 
    
}

.input{
   
    height: 35px;
    width: 600px;
    background-color: #f5dbe8;
    font: bold 14px Arial, Helvetica;
    font-size: 15px;
    
  border: 2px solid rgb(241, 21, 175);
}

.boton{

    color:rgb(0, 0, 0);
    font: bold 14px Arial, Helvetica;
    height: 43px;
    background:  #f5dbe8;
    border: 2px solid rgb(241, 21, 175);
    text-align: center;

}


    .boton:hover {
        background-color: #fd0dad;
        background-image: linear-gradient( #fd0dad, #f5dbe8);

    }
    .boton:valid, textarea:valid {
        color:black;
    }
