.formul {
    padding: 20px 20px 5px 35px;   /* margen con valores: arriba - derecha - abajo - izquierda */
    font-family:verdana,arial;
    font-size:9pt;
}

.input{


    height: 20px;
    width: 160px;
    background-color: #f5dbe8;
    font:  14px Arial, Helvetica;
    font-size: 15px;
    margin-top: 60px;
    border: 1px solid  #fd0dad;
margin-left: -170% ;
border: 2px solid rgb(241, 21, 175);
}

.boton{

    color:rgb(0, 0, 0);
    font: bold 15px Arial, Helvetica;
    height: 35px;
    width:px;

    font-weight:700;
   ;
    background:  #f5dbe8;
    border:0px;

    border: 2px solid rgb(241, 21, 175);
    text-align: center;

}


    .boton:hover {
        background-color: #fd0dad;
        background-image: linear-gradient( #fd0dad, #f5dbe8);

    }
    .boton:valid, textarea:valid {
        color:black;
    }
